# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
analysis.pdf

unversioned/*

# Temp files
*.pyc
server/src/workspace/*
server/src/pulls/*
server/test/pulls/*
server/test/workspace/*
tmp.err
tmp.out
