* {
  -ms-box-sizing:     border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.waitCursor, .waitCursor * { 
	cursor: wait !important; 
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #F8F8F8;
}

header {
	width: 100%;
	overflow: hidden;
	padding: 5px 5px;
	margin-bottom: 10px;
	background-color: #eaeaea;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	font-family: sans-serif;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

header h1 {
	color: #1F1F1F;
	margin: 10px 5px;
	vertical-align: middle;
	cursor: default;
	
	flex: 0 1 auto;
}

header h1:hover {
	background-color: #e0e0ff;
	cursor: pointer;
}

#pull_request_url_bar {
	position: relative;
	z-index: 0;
	margin: 0px 25px;
	vertical-align: middle;
	
	flex: 1 0 auto;
}

#pull_request_url_input {
	position: relative;
	z-index: 0;
	font-size: 1.1em;
	width: 100%;
	height: 49px;
	padding: 10px;
	border: solid 1px #ccc;
}

#pull_request_url_input:hover {
	outline: solid 1px #c0c0ff;
}

#partition_button {
	display: block;
	
	position: absolute;
	top: 5px;
    right: 8px;
    z-index: 2;
	
	text-align: center;
	vertical-align: center;
	
	width: 39px;
	height: 39px;
	
	border: none;
	padding: 0;
	
	cursor: pointer;
	
	background: #FFFFFF url(images/gears.png) no-repeat;
}

#partition_button:focus, #partition_button:hover {
	border: none;
	outline: none;
	background-image: url(images/gears-hover.png);
}

#faq_button {
	width: 24px;
	height: 24px;
	border: none;
	padding: 20px;
	margin-left: 10px;
	margin-right: 15px;
	cursor: pointer;
	background: transparent url(images/faq.png) no-repeat center;
	flex: 0 1 auto;
}

#faq_button:focus, #faq_button:hover {
	border: none;
	outline: none;
	background-color: #e0e0ff;
}

#main_div {
	margin: 0;
	padding: 0;
	height: 80%;
	width: 100%;
}

#partition_tree_div {
	float: left;
	border: solid 1px #ccc;
	background-color: #FFFFFF;
	margin: 0;
	margin-left: 5px;
	margin-right: 10px;
	width: 20%;
	height: 100%;
	overflow: auto;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#filepath_bar {
	float: left;
	width: 75%;
	margin: 0px;
	margin-bottom: -1px;
	padding: 1px 5px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	font-size: 1.05em;
}

#code_editor_div {
	float: left;
	width: 75%;
	height: 100%;
}

#code_editor {
	width: 100%;
}

#about_div {
	display: none;
	
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -320px;
	width: 640px;
	
	z-index: 10;
		
	border: 0;
	padding: 0;
	
	background: rgba(128, 128, 128, 0.9);
	box-shadow: 0px 0px 5px 1px #5A5A5A;
	color: #FFFFFF;
}

#about_div_content {
	font-family: sans-serif;
	padding: 10px;
}

#about_div h1 {
	text-align: center;
}

#about_div p {
/*
	font-family: serif;
*/
	text-align: justify;
	margin-bottom: 1.5em;
}

#about_close_button {
	position: relative;
	border: none;
	margin: 0;
	cursor: pointer;
	width: 100%;
	height: 32px;
	background: rgb(110, 110, 110) url(images/arrowup.png) no-repeat center;
}

#about_close_button:hover {
	background-color: rgb(100, 100, 100);
}

#faq_div {
	display: none;
	
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	
	z-index: 9;
		
	border: 0;
	padding: 0;
		
	box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
	background-color: #FFFFFF;
}

#faq_div_header {
	padding: 10px 5px;
	margin: 0px;
	background-color: #656565;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

#faq_div_header h1 {
/*
	text-align: center;
*/
	display: inline;
	color: #FFFFFF;
	margin: 10px 10px;
	vertical-align: middle;
}

#faq_div_content {
	font-family: sans-serif;
	padding: 10px;
	overflow: scroll;
}

.faq_question {
	position: relative;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
	margin: 20px 5px;
}

.faq_question_header {
	cursor: pointer;
	padding: 15px;
	background-color: #D0D0D0;
}

.faq_question_header:hover {
	background-color: #D0D0FF;
}

.faq_question_content {
	display: none;
	padding: 1px 15px;
	background-color: #F3F3F3;
	font-family: serif;
	text-align: justify;
}

#faq_close_button {
	float: right;
	margin: 5px 5px;
	width: 24px;
	height: 24px;
	padding: 15px;
	border: none;
	cursor: pointer;
	background: transparent url(images/close.png) no-repeat center;
}

#faq_close_button:hover {
	background-color: rgb(150, 150, 200);
}

#msgbox_div {
	background: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 10;

	align-items: center;
	justify-content: center;
/*
	display: flex;
*/
	display: none;
}

#msgbox_div_content {
/*
	background: rgba(128, 128, 128, 1.0);
*/
	background: #eaeaea;
	box-shadow: 0px 0px 5px 1px #c8c8c8;
	color: #1F1F1F;
	
	padding: 10px;
	max-width: 512px;
	
	/* For the icon */
	position: relative;
	padding-left: 60px;
	
/*
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -198px;
	margin-left: -320px;
	width: 640px;
	height: 396px;
	z-index: 20;
*/
}

#msgbox_div_content img {
	position: absolute;
	top: 0;
	left: 0;
	margin: 16px;
	margin-top: 27px;
	width: 32px;
	height: 32px;
}

#msgbox_div p {
	text-align: left;
	line-height: 1.5em;
}

#msgbox_close_button_div {
	display: flex;
	justify-content: center;
}

#msgbox_close_button {
	padding: 5px 20px;
	text-align: center;
}


