* {
  -ms-box-sizing:     border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #F8F8F8;
}

h1 {
	color: #1F1F1F;
}

header {
	max-width: 100%;
	overflow: auto;
	padding: 5px 5px;
	margin-bottom: 10px;
	background-color: #eaeaea;
	box-shadow: 0px 0px 5px 1px #c8c8c8;
	font-family: sans-serif;
}

#main_div {
	margin: 0;
	padding: 0;
	height: 80%;
	width: 100%;
}

#partition_tree_div {
	float: left;
	border: solid 1px #ccc;
	background-color: #FFFFFF;
	margin: 0;
	margin-left: 5px;
	margin-right: 10px;
	width: 20%;
	height: 100%;
	overflow: auto;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#code_editor_div {
	float: left;
	width: 75%;
	height: 100%;
}

#code_editor {
	width: 100%;
	height: 100%;
}
